:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --button-bgc-color: rgba(245, 244, 250, 1);
}
li {
  list-style: none;
}

body {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

/* Logo */
.logo {
  text-decoration: none;
  line-height: 1.2;
}
.logo-primary {
  font-family: Raleway, sans-serif;
  font-style: bold;
  font-size: 26px;
  color: #2196f3;
}
.logo-secondary {
  font-family: Raleway, sans-serif;
  font-style: bold;
  font-size: 26px;
  color: black;
}

/* Navigation */
.nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item .nav-contact:hover,
.nav-item .nav-contact:focus {
  color: #2196f3;
}

.nav-item .nav-link {
  color: var(--title-text-color);
  font-style: medium;
  line-height: 1.4;
  letter-spacing: 2%;
  text-decoration: none;
}

.nav-item .nav-link.curent {
  color: var(--accent-color);
}
.nav-item .nav-contact {
  color: var(--primary-text-color);
  font-style: medium;
  line-height: 1.4;
  letter-spacing: 2%;
}

/* Header */
.main-title {
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
  font-size: 44px;
  font-style: black;
  line-height: 1.36;
  letter-spacing: 6%;
}
.main-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-style: bold;
  line-height: 1.87;
  font-size: 16px;
  border-style: none;
  letter-spacing: 6%;
}

.logo,
.features,
.work,
.team,
.content-item .content-button,
.address-destination {
  letter-spacing: 3%;
}
/* Features */
.features-item .features-caption {
  color: var(--title-text-color);
  font-style: bold;
  line-height: 1.14;
}
.features-text {
  line-height: 1.71;
}

/* Work */
.work-title,
.team-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-style: bold;
  line-height: 1.16;
}
/* Team */
.team-caption {
  color: var(--title-text-color);
  font-style: medium;
  font-size: 16px;
  line-height: 1.87;
}
.team-text {
  color: var(--primary-text-color);
  line-height: 1.87;
}

/* Portfolio */
.content-list .content-buttons {
  color: var(--title-text-color);
  background-color: var(--button-bgc-color);
  border-style: none;
  font-family: Roboto, sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 1.62;
}
.content-button:hover,
.content-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.content-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 3%;
}
.content-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-style: bold;
  letter-spacing: 6%;
}
/* Footer */
.address-item .address-contact {
  color: var(--primary-text-color);
}
.address-destination {
  color: var(--primary-white-color);
  line-height: 1.71;
  background-color: var(--primary-text-color);
}
